body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

nav button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
}

nav button:hover {
    text-decoration: underline;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.product-item {
    width: 300px;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    background-color: #fff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.product-item:hover {
    transform: translateY(-5px);
}

.product-name {
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}

.product-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.product-price {
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}

.product-stock {
    color: #888;
    font-size: 14px;
    margin-top: 10px;
}

.add-to-cart-button {
    background-color: #0074cc;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

.add-to-cart-button:hover {
    background-color: #005aa7;
}

.search-form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search-input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.search-button {
    background-color: #333;
    color: #fff;
    padding: 10px 16px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.add-to-cart-button[disabled] {
    background-color: lightgray;
    cursor: not-allowed;
}